#find3-main{
	width:960px;
	margin:20px auto  60px;
}
#find3-main .title{
	margin-bottom:20px;
}
#find3-main ul li{
	text-align:center;
	margin:20px 0;
}

#find3-main ul li img{
	margin:0 auto;
}




#find3-main ul li p{
	color:gray;
	font-size:12px;
}
#find3-main ul li p span{
	color:darkred;
}
#find3-main ul li form div{
	margin:10px 0;
}
#find3-main ul li form div span{
	text-align:right;
	font-size:14px;
	color:gray;
	font-weight:bold;
	
}

#find3-main ul li form div a{
	font-size:12px;
	text-decoration: underline;
	color:darkred;
	
}
#find3-main .find3-next{
	width:128px;
	height:38px;
	background:url(../img/pw_bt_three.gif) no-repeat ;
	border:0;
	
}
#find3-main .yqtx{
	width:300px;
	position:absolute;
	right:50px;
	top:40px;
	text-align: left;
}
}
		