html,body,ul,li,dl,dd,dt{
	padding:0;
	margin:0;
}
ul,li{
	list-style:none;
}
a{
	text-decoration:none;
}
em,i{
	font-style:normal;
}
img{
	display:block;
	border:0;
}
/********************头部**********************/
#header{
	width:100%;
}
/*模块一*/
#header .h-sec-one{
	width:100%;
	height: 35px;
	background:#f4f4f4;
}
.h-sec-one .sec-one-con{
	width:960px;
	margin:0 auto;
	line-height:35px;
}
/*左边*/
.h-sec-one .sec-one-con .login-reg{
	float:left;
	width:170px;
}
.h-sec-one .sec-one-con .login-reg li{
	float:left;
	margin-right:13px;
	font-size:14px;
	color:#cccccc;
}
.h-sec-one .sec-one-con  li a{
	color:#7a7a7a;
}
/*右边*/
.h-sec-one .sec-one-con .link-info{
	float:right;
	width:400px;
	font-size:14px;
	
}
.h-sec-one .sec-one-con .link-info li{
	float:left;
	color:#7a7a7a;
}
/*关注我们*/
.h-sec-one .sec-one-con .link-info .aboutus{
	position:relative;
}
.h-sec-one .sec-one-con .link-info .aboutus em{
	display: inline-block;
	vertical-align: middle;
	width:15px;
	height:15px;
	background:url(../img/indexNew/headico01.png) no-repeat left -15px;
}
.h-sec-one .sec-one-con .link-info .aboutus:hover em{
	background-position: -20px -15px;
}
.h-sec-one .sec-one-con .link-info .weixin-weibo{
	width:140px;
	height:55px;
	border:1px solid gray;
	position:absolute;
	right:0;
	top:35px;
	display: none;
	padding-left:10px;
}
.h-sec-one .sec-one-con .link-info .aboutus:hover .weixin-weibo{
	display: block;
} 
.h-sec-one .sec-one-con .link-info .weixin-weibo a{
	float:left;
	margin-right:10px;
}
.h-sec-one .sec-one-con .link-info .weibo{
	width:34px;
	height:27px;
	background:url(../img/indexNew/footico.gif) no-repeat left -23px;
	margin-left:8px;
}
.h-sec-one .sec-one-con .link-info .weixin{
	width:29px;
	height:27px;
	background:url(../img/indexNew/footico.gif) no-repeat right top;
	margin-left:8px;
	
}
/*购物袋*/
.h-sec-one .sec-one-con .link-info .shop-car{
	padding-left:20px;
	
}
.h-sec-one .sec-one-con .link-info .shop-car:hover{
	background:white;
}
.h-sec-one .sec-one-con .link-info .shop-car span{
	font-size:13px;
	padding-left:25px;
	background:url(../img/indexNew/headico01.png) no-repeat left -28px;
}
.h-sec-one .sec-one-con .link-info .shop-car i{
	background: url(../img/line-vertical.gif);
	width:2px;
}
.h-sec-one .sec-one-con .link-info .shop-car b{
	float:right;
	margin-top:15px;
}
/*模块二*/
#header .h-sec-two{
	width:960px;
	height:100px;
	 margin:15px auto 12px;
	padding-left:10px;
	
}
.h-sec-two .mxappBox{
	width:340px;
	float:left;
	position:relative;
}
.h-sec-two .mxappBox span{
	position: absolute;
	top:20px;
	left:90px;
}
.h-sec-two .mxlogo{
	margin:25px 0;
	float:left;
}
.h-sec-two .search{
	float:right;
	margin-top:40px;
	width:150px;
	height:25px;
	border:1px solid gray;
}
.h-sec-two .search input{
	border:0;
	float:left;
}
.h-sec-two .search .sear-text{
	width:120px;
	height:23px;
}
.h-sec-two .search .btser{
	width:24px;
	height:24px;
	background: url(../img/searchBtn.gif) no-repeat;
}
/*模块三(導航菜单)*/
#header .h-sec-three{
	width:960px;
	margin:0 auto;
	position:relative;
}
/*導航部分*/
#header .nav{
	width:960px;
	height:33px;
	margin:0 auto;
	border-bottom:1px solid black;
	
}
#header .nav li{
	float:left;
	width:96px;
	text-align:center;
	line-height:33px ;
}
#header .nav li a{
	color:black;
	width:96px;
	height:33px;
	display:block;
}
#header .nav .new{
	position:relative;
}
#header .nav .new img{
	position:absolute;
	right:1px;
	top:1px;
}
/*菜單部分*/
#header .menu{
	width:960px;
	height:270px;
	margin:0 auto;
	border:1px solid lightgray;
	border-top:0;
	display: none;
	position:absolute;
	left:0;
	top:33px;
	background:white;
	z-index:20;
}
#header .menu .menu-con{
	float:left;
	padding:15px;
}
#header .menu .menu-con dt a{
	color:#8e0c3a;
	font-weight:bold;
	padding-bottom:5px;
	font-size:14px;
}
#header .menu .menu-con dd a{
	color:gray;
	font-size:12px;
}
#header .menu .menu-con .advise a{
	float:left;
	width:100px;
}
/*尾部*/
#footer{
	width:960px;
	margin:0 auto;
	margin-top:20px;

}
/*帮助*/
#footer .contact{
	height:110px;
	padding-top:30px ;
	border-top:1px solid gray;
}
#footer .contact ul li{
	float:left;
	height:87px;
	padding-bottom:10px; ;
}
#footer .contact ul .help{
	border-right:1px solid gray;
}
#footer .contact ul .help dl{
	float:left;
	width:95px;
	text-align:left;
	font-size:14px;
}
#footer .contact ul .help dl dt{
	font-weight:bold;
	margin:15px 0;
	color:#666;
}
#footer .contact ul .help dl a{
	color:gray;
}
#footer .phone{
	width:240px;
	text-align:center;
	color:#666;
	border-right:1px solid gray;
}
#footer .phone p{
	font-size:14px;
	font-weight:bold;
}
#footer .phone b{
	font-size:20px;
	font-weight:normal;
}
#footer .service{
	width:140px;
	text-align: center;
	font-size:14px;
	font-weight: bold;
	color:#666;
	border-right: 1px solid gray;
}
#footer .service dl{
	margin-top:16px;
}
#footer .service dd{
	display: inline-block;
	margin:10px 0;
}
#footer .service .f-QQ{
	width:20px;
	height: 23px;
	float:left;
	background:url(../img/indexNew/footico.gif) no-repeat left top;
	margin-right:10px;
	
}
#footer .service .f-tq{
	width:20px;
	height: 23px;
	float:left;
	background:url(../img/indexNew/footico.gif) no-repeat -20px top;
}
#footer .ewm{
	padding-left:12px;
}
#footer .ewm dl{
	float:left;
	margin-right:12px;
	font-size:14px;
	color:#666;
	text-align:center;
}
/*尾部导航*/
#footer .f-nav{
	margin-bottom:20px;
    background:#eee;
}
#footer .f-nav ul{
	overflow:hidden;
	width:810px;
	margin:0 auto;
}
#footer .f-nav li{
	float:left;
}
#footer .f-nav  li a{
	float:left;
	width:90px;
	height: 20px;
	text-align:center;
	line-height:20px;
	color:#7A7A7A;
	font-size:12px;
}
#footer .f-nav  li a:hover{
	color:white;
	background:gray;
}
/*友情链接*/
#footer .f-bottom .friends ul{
	width:480px;
	margin:0 auto;
}
#footer .f-bottom .friends li{
	float:left;
}
#footer .f-bottom .friends li a{
	float:left;
	margin-right:10px;
}
#footer .fre-a{
	width:22px;
	height:22px;
	background:url(../img/foot_pic_s.jpg) no-repeat left -110px;
}
#footer .fre-a:hover{
	background-position: 0 0;
}


#footer .fre-b{
	width:88px;
	height:16px;
	background:url(../img/foot_pic_s.jpg) no-repeat -6px -157px;
	
}
#footer .fre-b:hover{
	background-position: -6px -47px;
}


#footer .fre-c{
	width:50px;
	height:13px;
	background:url(../img/foot_pic_s.jpg) no-repeat -12px -138px;
}
#footer .fre-c:hover{
	background-position: -12px -28px;
}


#footer .fre-d{
	width:65px;
	height:22px;
	background:url(../img/foot_pic_s.jpg) no-repeat -186px -180px;
}
#footer .fre-d:hover{
	background-position: -186px -71px;
}


#footer .fre-e{
	width:64px;
	height:16px;
	background:url(../img/foot_pic_s.jpg) no-repeat -70px -112px;
}
#footer .fre-e:hover{
	background-position: -70px -3px;
}


#footer .fre-f{
	width:84px;
	height:22px;
	background:url(../img/foot_pic_s.jpg) no-repeat -5px -178px;
}
#footer .fre-f:hover{
	background-position: -5px -70px;
}

/*copyright*/
#footer .Copyright p{
	text-align:center;
}
