.clearfix:after{
	content:"..";
	overflow: hidden;
	clear: both;
	visibility: hidden;
	display: block;
	height: 0;
}
#register{
	width:960px;
	height:517px;
	margin:0 auto;
	background:url(../img/bg_main.jpg);
	margin-top:20px;
}
#register .register-con{
	width:352px;
	font-size:14px;
	color:gray;
	
}
.text{
	width:180px;
	float:right;
	
}

#register .register-con li{
	margin:20px 0;
	text-align: right;
}
#register .register-con .zhuce{
	width:204px;
	height:30px;
	background:#8e0c3a;
	line-height:30px;
	text-align:center;
	color:white;
	border:0;
	
}
#register .register-con .dingyue a{
	color:gray;
	margin-left:30px;
	
}
